<div class="datetime-widget" data-dojo-attach-point="widgetBase">
    <p>
        <input data-dojo-attach-point="startDateNode" type="text" class="date start" />
        <input data-dojo-attach-point="startTimeNode" type="text" class="time start" />
        <span data-dojo-attach-point="toNode">to</span>
        <input data-dojo-attach-point="endTimeNode" type="text" class="time end" />
        <input data-dojo-attach-point="endDateNode" type="text" class="date end" />
    </p>
    <div class="alert alert-bordered alert-danger" data-dojo-attach-point="errorNode"></div>
</div>