<div class="datetime-widget" data-dojo-attach-point="widgetBase">

    <label data-dojo-attach-point="labelNode" class="control-label" for=""></label>
    <div data-dojo-attach-point="controlNode">
        <div data-dojo-attach-point="inputsNode">
            <div>
                <input data-dojo-attach-point="startDateNode" type="text" class="date start form-control" />
            </div>
            <div class="picker__in-between" data-dojo-attach-point="inBetweenNode">at</div>
            <div>
                <input data-dojo-attach-point="startTimeNode" type="text" class="time start form-control" />
            </div>
        </div>        
    </div>

</div>